.fal-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#body {
    nav {
        color: #fff;
    }
}

#body.dark {
    --bs-body-color: #fff;
    --bs-body-bg: #212529;
    --bs-table-color: #fff;
    --bs-table-bg: #212529;

    .modal {
        .btn-close {
            filter: invert(1) grayscale(100%) brightness(200%);
        }
        --bs-modal-color: #fff !important;
        --bs-modal-bg: #212529 !important;
        --bs-modal-border-color: rgba(255, 255, 255, 0.5) !important;
    }

    .accordion {
        button::after {
            filter: invert(1) grayscale(100%) brightness(200%);
        }

        --bs-accordion-color: #fff !important;
        --bs-accordion-btn-color: #fff !important;
        --bs-accordion-bg: #212529 !important;
        --bs-accordion-btn-focus-border-color: rgba(255, 255, 255, 0.5) !important;
        --bs-accordion-active-color: #fff !important;
        --bs-accordion-active-bg: #212529 !important;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5) !important;
    }

    .list-group {
        --bs-list-group-color: #fff !important;
        --bs-list-group-bg: #212529 !important;
        --bs-list-group-border-color: rgba(255, 255, 255, 0.5) !important;
    }

    .card {
        --bs-card-bg: #212529 !important;
        --bs-card-border-color: rgba(255, 255, 255, 0.5);
    }
}

.help-icon {
    font-size: 1.5rem; 
    color: #32965D;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}