.fal-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

body {
    nav {
        color: #fff;
    }
}
body.dark {
    --bs-body-color: #fff;
    --bs-body-bg: #212529;
    --bs-table-color: #fff;
    --bs-table-bg: #212529
}