.fal-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#body {
    nav {
        color: #fff;
    }
}

#body.dark {
    --bs-body-color: #fff;
    --bs-body-bg: #212529;
    --bs-table-color: #fff;
    --bs-table-bg: #212529;

    .list-group {
        --bs-list-group-color: #fff !important;
        --bs-list-group-bg: #212529 !important;
        --bs-list-group-border-color: rgba(255, 255, 255, 0.5) !important;
    }

    .card {
        --bs-card-bg: #212529 !important;
        --bs-card-border-color: rgba(255, 255, 255, 0.5);
    }
}