#cards-end {
    margin: 10px 5px;
    justify-content: center;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;

    .card {
        img {
            aspect-ratio: 6000/4000;
        }
        max-width: 430px;
        min-width: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
}