$height-circu: 40px;
$max-width-circu: 250px;
$border-radius-circu: 5px;

$data-fal-circu-infos: (
    "argente": #CCCCCC,
    "blanc": #FFFFFF,
    "bleu": #155CC8,
    "bleuroy": #0914BC,
    "bordeaux": #740000,
    "fiolet": #2C1355,
    "fuschia": #9c0952,
    "gris": #777777,
    "jaune": #FFC107,
    "marron": #522F18,
    "noir": #000000,
    "orange": #EF801E,
    "rouge": #BC1212,
    "rose": #F3A0EA,
    "saumon": #E89292,
    "vert": #349810,
    "vertclair": #67E30E,
    "vertfonce": #004203,
    "violet": #51009e
);

[data-fal-table='circu'] {

    margin-left: auto;
    margin-right: auto;

    th {
        text-align: left;
    }

    tr > :nth-child(1),
    tr > :nth-child(2) {
        height: $height-circu;
        width: 25%;
    }
    tr > :nth-child(3) {
        height: $height-circu;
        width: 50%;
    }


    [data-fal-circu-container] {
        height: $height-circu;

        border-radius: $border-radius-circu;
    
        [data-fal-circu] {
            height: $height-circu;
            border-radius: $border-radius-circu;
        
            &[data-fal-circu="satin"] {
                background-image: url(../images/circu/satin.webp);
            }
            &[data-fal-circu="velours"] {
                background-image: url(../images/circu/velours.webp);
            }
        }        
    }

    [data-fal-circu-container='tiers'] {
        height: calc($height-circu / 3);
        border-radius: 0;

        &:nth-child(1) {
            border-radius: 0;
            border-top-left-radius: $border-radius-circu;
            border-top-right-radius: $border-radius-circu;
            [data-fal-circu] {
                border-radius: 0;
                border-top-left-radius: $border-radius-circu;
                border-top-right-radius: $border-radius-circu;
            }
        }

        &:nth-child(2) {
            border-radius: 0;
            [data-fal-circu] {
                border-radius: 0;
            }
        }

        &:nth-child(3) {
            border-radius: 0;
            border-bottom-left-radius: $border-radius-circu;
            border-bottom-right-radius: $border-radius-circu;
            [data-fal-circu] {
                border-radius: 0;
                border-bottom-left-radius: $border-radius-circu;
                border-bottom-right-radius: $border-radius-circu;
            }
        }

        [data-fal-circu] {
            height: calc($height-circu / 3);
        }
    }

    [data-fal-circu-container='demi'] {
        height: calc($height-circu / 2);
        border-radius: 0;

        &:nth-child(1) {
            border-radius: 0;
            border-top-left-radius: $border-radius-circu;
            border-top-right-radius: $border-radius-circu;
            [data-fal-circu] {
                border-radius: 0;
                border-top-left-radius: $border-radius-circu;
                border-top-right-radius: $border-radius-circu;
            }
        }

        &:nth-child(2) {
            border-radius: 0;
            border-bottom-left-radius: $border-radius-circu;
            border-bottom-right-radius: $border-radius-circu;
            [data-fal-circu] {
                border-radius: 0;
                border-bottom-left-radius: $border-radius-circu;
                border-bottom-right-radius: $border-radius-circu;
            }
        }

        [data-fal-circu] {
            height: calc($height-circu / 2);
        }
    }

    @each $name, $color in $data-fal-circu-infos {
        [data-fal-circu-color='#{$name}'] {
            background: $color;
        }
    }
}


@media only screen and (min-width: 768px) {
    [data-fal-table='circu'] {
        width: 75%;
    }
}
@media only screen and (max-width: 767px) {
    [data-fal-table='circu'] {
        width: 100%;
    }
}