[data-fal-table="insigne"] {
    margin-left: auto;
    margin-right: auto;

    [data-fal-insigne] {
        img {
            width: auto;
            height: 50px;
            max-width: 75px;
        }
    }

    .table-warning {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 5px;
        background-color: #ffe188;
    }
}


@media only screen and (min-width: 768px) {
    [data-fal-table='insigne'] {
        width: 75%;
    }
}
@media only screen and (max-width: 767px) {
    [data-fal-table='insigne'] {
        width: 100%;
    }
}
