[data-fal-table="insigne"] {
    margin-left: auto;
    margin-right: auto;
}

.table-warning-fal {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff2ca;
}

.dark .table-warning-fal {
    background-color: #5e4601;
}

@media only screen and (min-width: 768px) {
    [data-fal-table='insigne'] {
        width: 75%;
    }
}
@media only screen and (max-width: 767px) {
    [data-fal-table='insigne'] {
        width: 100%;
    }
}


[data-fal-insigne] {
    text-align: center;
    img {
        width: auto;
        height: 50px;
        max-width: 75px;
        text-align: center;
    }
}

[data-fal-insigne="moivre"] img {
    border-radius: 5px;
}
[data-fal-insigne="mini"] img {
    height: 30px;
}

[data-billot] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 10px;
    text-align: center;
    div {
        span {
            //display: block;
            //font-weight: 500;
            //margin-bottom: 10px;
            //Todo trouver un moyen qui nique pas l'affichage
            display: none;
        }
        img.billot {
            width: 100%;
        }
    }
}

[data-croix] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    text-align: center;
    div {
        img {
            width: 100%;
        }
    }
}

.bg-ruban-bleu {
    background: url(../images/insigne/satin_bleu.png);
    border-radius: $border-radius-circu;
}