[data-fal-table] {
    td {
        text-align: left;
    }
    td[data-fal-insigne] {
        text-align: center;
    }
}

.fal-2-col {
    display: flex;
    gap: 20px;
    align-items: center;
}

.no-border {
    border: none;
}

.table-warning-fal {
    table {
        margin-bottom: 0;
        tr {
            &>td {
                border-color: #ffe596;
            }
            &:last-child {
                td {
                    border: none;
                }
            }
        }
    }
}
.dark .table-warning-fal {
    table {
        tr {
            &>td {
                border-color: #946f00;
            }
        }
    }
}