[data-fal-table] {
    td {
        text-align: left;
    }
    td[data-fal-insigne] {
        text-align: center;
    }
}

.fal-2-col {
    display: flex;
    gap: 20px;
    align-items: center;
}

.no-border {
    border: none;
}

.no-border-bottom {
    td {
        border: none;
    }
}

.table caption {
    display: none;
}

.table-warning-fal {
    .table {
        margin-bottom: 0;
        tr {
            &>td, &>th {
                background-color: rgb(255, 242, 202) !important;
                border-color: #ffe596 !important;
            }
            &:last-child {
                td {
                    border: none;
                }
            }
        }
    }
}
.dark .table-warning-fal {
    .table {
        tr {
            &>td, &>th  {
                background-color: rgb(94, 70, 1) !important;
                border-color: #946f00 !important;
            }
        }
    }
}

[data-fal-table] {
    width: 100%;
}